{% extends 'homepage.html' %}
{% load static %}
{% block content %}
    <div class="content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            
            <div class="row justify-content-center">
              <div class="col-md-12">
                <h3 class="thin-heading mb-4">КОНВЕРТИРУЙТЕ ВИДЕО С YOUTUBE В MP3 И РАЗЛИЧНЫЕ ДРУГИЕ ФОРМАТЫ</h3>
                <form class="mb-5" method="post" id="contactForm" name="contactForm">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <textarea class="form-control" name="url" id="message" cols="30" rows="2" placeholder="Вставьте ссылку сюда.. например. https://www.youtube.com/watch?v=e-OfSWE9uV4"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" name="email" id="email" placeholder="Почта">
                        </div>
                    </div>
                  
                  <div class="row">
                    <div class="col-12">
                        <input type="submit" value="Старт" class="btn btn-primary rounded-0 py-2 px-4"><span class="submitting"></span>
                    </div>
                  </div>
                </form>
                <div id="form-message-warning mt-4"></div>
                <div id="form-message-success"> Your message was sent, thank you! </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}